body{
    background-color: #0A0E12;
    color: #c3d4e3;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#header{
    display: flex;
    height: 10%;
    width: 40%;
    /* align-items: left; */
    margin-top: 4%;
    padding-top: 1%;
    padding-bottom: 1%;
    /* justify-content: space-between; */
    border: 1px, solid, #3c474f;
    border-radius: 10px;
    flex-wrap: wrap;
    flex-direction: row;
}
#me-photo{
    padding-left: 3%;
    flex-wrap: wrap;
    width: 16%;
    height: 80%;
}
p{
    width: 100%;
    padding-left: 5%;
}
#top{
    width: 50%;
}
#github{
    width: 30%;
}
#github-img{
    width: 25%;
    float: right;
    padding: 10%;
}

.contact{
    width: 80%;
    margin-top: 2%;
    margin-left: 2%;
}

headline{
    font-size: 150%;
}

#currently-working{
    margin-top: 2.5%;
    width: 40%;
    line-height: 1.4;
    
}

.comment{
    color: #858f98;
    font-size: 90%;
    line-height: 1.2
}

#past-projects{
    width: 40%;
    padding-top: 3%;
    line-height: 1.3;
}